# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore environment and dependency files
env/
venv/
.env

# Ignore Mac OS fileds
*.DS_Store
.DS_Store
.idea
./.idea